@model List<$safeprojectname$.Models.gorevli>

<table class="table">
    <thead>
        <tr>
            <th>Ad</th>
            <th>bölüm</th>
            <th>E-mail</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ad</td>
                <td>@item.bölüm</td>
                <td>@item.email</td>
                <td>
                    <button class="btn btn-warning btn-custom" data-toggle="modal" data-target="#guncelleModal"
                            data-id="@item.id" data-ad="@item.ad" data-soyad="@item.bölüm">
                        Güncelle
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Sol Alta Yerleştirilen Buton -->
<button class="btn btn-primary add-button" data-toggle="modal" data-target="#guncelleModal">
    Yeni Hoca Ekle
</button>

